@import url('reset.css');
@import url('font.css');
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Manrope";
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: #F4F4F5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1488px;
    height: 70px;
    font-size: 18px;
}
main{
    width: 100%;
    max-width: 1440px;
}
.nav-link {
    color: #000;
    font-size: 18px;
    width: 152px;
    text-align: center;
}

.nav-text {
    display: flex;
    gap: 12px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077FF;
    width: fit-content;
    height: 50px;
    padding: 0 32px;
    border-radius: 14px;
    color: white;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 340px;
    border-radius: 24px;
    padding: 28px 24px;
    background-image: url("../assets/images/M_OfferTitle.svg");

    h2 {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: fit-content;
    height: 50px;
    padding: 0 32px;
    border-radius: 14px;
    color: #FFF;
}

.jobs {
    display: flex;
    gap: 24px;
    padding-top: 24px;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 464px;
    height: 680px;
    background: #fff;
    border-radius: 24px;
    padding: 24px;
    gap: 24px;

    h5 {
        font-weight: normal;
    }

    h4 {
        font-weight: 600;
    }
}

.filters-search {
    display: flex;
    height: 50px;
    background: #f4f4f5;
    stroke: #e4e4e7;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 12px;
}

.filters-search input {
    width: 350px;
    height: 35px;
    border: none;
    background: transparent;
    font-size: 16px;
    flex: 1;
    outline: none;
    padding: 0;
}

.filters-points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64px;
    gap: 10px;

    h4 {
        font-size: 16px
    }

    h5 {
        font-size: 18px;
        color: #a1a1aa;
    }
}

.filters-tags {
    display: flex;
    gap: 10px;

    h5 {
        background: #f4f4f5;
        padding: 10px 6px;
        border-radius: 8px;
    }
}

.filters-locations {
    display: flex;
    flex-direction: column;
    height: 191px;
    justify-content: space-between;
    gap: 10px;

    h4 {
        font-size: 16px;
    }
}

.filters-tags-locations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 162px;
    background: #f4f4f5;
    padding: 10px 12px;
    border-radius: 12px;

    h5 {
        font-size: 18px;
    }
}

.location-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.checkbox {
    width: 22px;
    height: 22px;
    background: #e4e4e7;
    border-radius: 4px;
}

.filters-salary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 79px;
    font-size: 16px;
}

.salary-min-max {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    h5 {
        padding: 12px;
        background: #f4f4f5;
        border: 1px solid #e4e4e7;
        border-radius: 12px;
        width: 195px;
    }
}

.vacancies {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-grow: 1;
    flex-shrink: 1;
}

.line {
    width: 1px;
    height: 22px;
    background: #e4e4e7;
}

.vacancy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 464px;
    height: 319px;
    border-radius: 24px;
    color: #000;
    background: #fff;
    padding: 24px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: 36px;
    }

    h3, h4 {
        font-weight: normal;
    }
}

.job-info {
    display: flex;
    align-items: center;
    gap: 9px;

    h4 {
        color: #818181;
    }
}

.job-tags {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    h5 {
        font-size: 18px;
        font-weight: normal;
        padding: 10px 6px;
        background: #0077FF;
        color: #fff;
        border-radius: 8px;
    }
}

.footer-elements {
    display: flex;
    width: 1368px;
    height: 160px;
}

.footer-elements > * {
    flex: 1 1 0;
}